@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
/* fonts: "jersey 15" */

body {
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-family: "jersey 15";
    font-size: 25px;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-auto-rows: auto;
    gap: 20px;
}

.pokemon {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.name {
    margin-bottom: 10px;
    padding: 5px 10px;
    width: fit-content;
    align-self: center;

    border: 1px solid white;
    border-radius: 20px;
}

img {
    width: 300px;
}